body {
  background-color: black;
  color: white;
  font-size: 18pt;
}

header {
  padding: initial 3px 69rem;
  width: 100%;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
header > h1 {
  font-size: 7rem;
}
header > h1 img {
  height: 3.5em;
  display: block;
}

nav > button {
  font-size: x-large;
}