body {
  color: white;
  font-size: 18pt;
}
#logo-box {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: x-large;
}
#logo-box h1 {
  font-size: 3em;
}

.navbar {
  font-size: 3rem;
}
.nav-item {
  transition: ease-in-out 125ms;
}
.nav-item:hover {
  background-color: #AAA;
}
.nav-item:active {
  background-color: #999;
}