---
---
:root {
  --offset: 0px;
}

#discord-list {
  list-style-type: none;
  margin: 0 auto;
  width: 95%;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
}
#discord-list li {
  padding: 10px;
  margin: 3px;
  background-color: tomato;
  border-radius: 5px;
  cursor: pointer;
}
#discord-list li:hover {
  background-color: darken($color: tomato, $amount: 5)
}