---
---

body {
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
}
section {
  text-align: center;
}

.fit-page {
  width: 100vw;
  height: initial;
  object-fit: cover;
}

.widget {
  box-sizing: content-box;
}
.widget-cal {
  min-height: 400px;
}

.nav-item {
  transition: ease-in-out 125ms;
  border-radius: 5px;
}
.nav-item:hover {
  background-color: #AAA;
}
.nav-item:active {
  background-color: #999;
}

section:nth-of-type(odd) {
  background-color: #565d61;
}
section:nth-of-type(even) {
  background-color: #818a8f;
}
section h1 {
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
}
#vscode-mac {
  width: 100%;
  object-fit: cover;
  object-position: 0 0;
}

@media (min-width: 768px) {
  .fit-page {
    height: 20vw;
  }
  .widget-cal {
    width: 768px;
    height: 576px;
  }
}